.over-effect {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: -100%;
    background-color: #43cf9c;
    background: #159957; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #159957, #155799); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #159957, #155799);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    margin: 0;
    /* Safari-specific optimizations */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  